@import 'styles/mixins.scss';

.register {
  &__background {
    background-color: $light-gray;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, 0.02);
    margin: 0 auto;
    width: 100rem;
    background-color: $white;
  }

  &__form {
    padding: 5rem 6.6rem 8.4rem 6.6rem !important;
  }

  &__form-section--title {
    font-weight: 600;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }

  &__phone-input {
    border: none !important;
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
  }

  &__button {
    background-color: $green !important;
  }
}
