@import 'styles/theme/default.scss';

.fluid__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: $layout-body-background;
}

.fluid__lang {
  width: 100%;
  height: 4rem;
  line-height: 4.4rem;
  text-align: right;
  :global(.fluid__ant-dropdown-trigger) {
    margin-right: 2.4rem;
  }
}

.fluid__content {
  flex: 1;
  padding: 3.2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@include respond-to('md') {
  .fluid__container {
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    background-repeat: no-repeat;
    background-position: center 11rem;
    background-size: 100%;
  }

  .fluid__content {
    padding: 3.2rem 0 2.4rem;
  }
}

.fluid__top {
  text-align: center;
}

.fluid__header {
  height: 4.4rem;
  line-height: 4.4rem;
  a {
    text-decoration: none;
  }
}

.fluid__logo {
  height: 4.4rem;
  margin-right: 1.6rem;
  vertical-align: top;
}

.fluid__title {
  position: relative;
  top: 0.2rem;
  color: $heading-color;
  font-weight: 600;
  font-size: 3.3rem;
  font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
