@import 'styles/mixins.scss';

.flag {
  width: 2rem;
  margin-right: 0.5rem;
}

.phone-input {
  width: 70% !important;
  &.ant-input {
    border-top-right-radius: 0.6rem !important;
    border-bottom-right-radius: 0.6rem !important;
  }

  &__dropdown {
    min-width: 30rem !important;
  }

  &__select {
    width: 30% !important;
    .ant-select-selector {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
}
