@import 'styles/mixins.scss';

.tino__list {
  .ant-list-items {
    .ant-list-item {
        background-color: $white;
        height: 5rem;
        border-radius: $radius-normal;
        padding: 0 1rem;
        margin: 0 0 1rem 0;
    }
  }
}
