@import 'styles/mixins.scss';

.password-meter {
  &__progress {
    height: 0.7rem;
    background-color: $light-gray;
  }

  &__progress-bar {
    height: 0.7rem;
  }

  &__container {
    margin-top: 1rem;
  }
}
