@import 'styles/mixins.scss';

.tino__button {
  font-weight: 600;
  border: none;
  padding: 0 1.6rem;
  border-radius: 0.6rem;
  height: 3.8rem;
  background-color: $secondary;
  color: $secondary-text;
  &:hover,
  &:focus,
  &:active {
    color: $primary;
  }

  &--primary {
    background-color: $primary;
    color: $white;
    &:hover,
    &:focus,
    &:active {
      background-color: rgba($primary, $bg-hover-opacity);
      color: $white;
    }
  }

  &--success {
    background-color: $success;
    color: $white;
    &:hover,
    &:focus,
    &:active {
      background-color: rgba($success, $bg-hover-opacity);
      color: $white;
    }
  }

  &--warning {
    background-color: $warning;
    color: $warning-text;
    &:hover,
    &:focus,
    &:active {
      background-color: rgba($warning, $bg-hover-opacity);
      color: $warning-text;
    }
  }

  &--danger {
    background-color: $danger;
    color: $white;
    &:hover,
    &:focus,
    &:active {
      background-color: rgba($danger, $bg-hover-opacity);
      color: $white;
    }
  }

  &--dark {
    background-color: $dark;
    color: $white;
    &:hover,
    &:focus,
    &:active {
      background-color: rgba($dark, $bg-hover-opacity);
      color: $white;
    }
  }
}
