@import './mixins.scss';

.my-infor-page {
  background-color: $white;
  padding: $base-space;
  border-radius: $radius-normal;
  .title-page {
    margin-right: 1.2rem;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 2rem;
    line-height: 3.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .form-group {
    .title {
      margin-bottom: 1.2rem;
      color: $heading-2;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }
  .my-infor-page-content {
    padding: 0 2.4rem;
    .ant-form-item-control {
      .ant-picker {
        width: 100%;
      }
    }
  }
}

.avatar-user-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  .information {
    margin: 0 0 0 2rem;
    .primary-text {
      font-weight: 700;
      @extend .reset-space;
    }
    .secondary-text {
      color: $secondary-text;
      @extend .reset-space;
    }
  }
}

.reset-space {
  margin: 0;
  padding: 0;
}
