@import 'styles/mixins.scss';

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px; /* px fallback */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.desktop-only {
  @include respond-to('sm') {
    display: none;
  }
}

.mobile-only {
  display: none;
  @include respond-to('sm') {
    display: inherit;
  }
}

.ant-layout-content {
  height: 100%;
}

.lazy-fallback {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ant-spin-dot-item {
    background-color: $primary;
  }

  .ant-spin-text {
    color: $primary;
  }

  .ant-spin.ant-spin-spinning {
    width: 6rem !important;
    position: relative;
  }
}
