@import 'styles/mixins.scss';

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px; /* px fallback */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Override Antd's classes
.ant-select-selector {
  border-radius: 0.6rem !important;
  border: 1px solid $pale-blue !important;
}
