$base-font-size: 1.6rem !default;
$base-space: 1.6rem !default;
$min-height-page: 100vh;

// Colors
$green: #0fa54a;
$white: #ffffff;
$black: #000000;
$light-gray: #f5f7f9;
$light-gray-2: #f6f7f8; // Default button background
$google-red: #ec5741;
$onyx: #363b3c;
$black: #0000000b;
$black-o4: rgba(0,0,0,0.4); // Black and opacity 0.4
$grey: #718096;
$grey-main: #f1f5f8;
// Icewall Theme
$primary: #142e71;
$secondary: #edf2f7;
$secondary-text: #718096;
$success: #91c714;
$warning: #fbc500;
$warning-text: #1a202c;
$danger: #d32929;
$dark: #2d3748;
$pale-blue: #e2e8f0; // Input Border color
$blue-1: #1c3271;
$blue-2: #2b4286;
$blue-3: #102765;
$blue-4: #071a50;
$link: #203f90;

// Opacity
$bg-hover-opacity: 0.8;

/** Breakpoints */
// Desktop first
$breakpoints: (
  'xxs': (
    max-width: 320px,
  ),
  'xs': (
    max-width: 575px,
  ),
  'sm': (
    max-width: 767px,
  ),
  'md': (
    max-width: 991px,
  ),
  'lg': (
    max-width: 1199px,
  ),
  'xl': (
    max-width: 1599px,
  ),
) !default;

/// Mixin to manage responsive breakpoints
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
