@import './animation';

$base-font-size: 1.6rem !default;
$base-space: 1.6rem !default;
$min-height-page: 100vh;
$max-width-page: 192rem;

// Colors
$green: #0fa54a;
$green-1: #eff7ed;
$white: #ffffff;
$black: #000000;
$light-gray: #f5f7f9;
$light-gray-2: #f6f7f8; // Default button background
$google-red: #ec5741;
$onyx: #363b3c;
$black: #000000;
$black-2: #001529;
$black-o4: rgba($black, 0.4);
$black-o09: rgba($black, 0.09);
$grey-main: #f1f5f8;
$grey: #dddddd;
$grey-1: #f5f7f9;
$grey-2: #f6f6f7;
$grey-3: #e7eaeb;
$grey-4: #9fa5a3;
$grey-5: #e7e9e9;
$grey-6: #f0f2f3;
$grey-7: #f2f2f3;
$grey-8: #f7f8f8;
$heading-2: rgba($black, 0.85);
$border: #f0f0f0;
// Icewall Theme
$primary: #142e71;
$secondary: #edf2f7;
$secondary-text: #718096;
$success: #91c714;
$warning: #fbc500;
$warning-text: #1a202c;
$danger: #d32929;
$dark: #2d3748;
$pale-blue: #e2e8f0; // Input Border color
$pale-blue-o1: rgba($pale-blue, 0.1);
$pale-blue-o4: rgba($pale-blue, 0.4);
$blue-1: #1c3271;
$blue-2: #2b4286;
$blue-3: #102765;
$blue-4: #071a50;
$blue-5: #9bade4;
$blue-6: #11296d;
$blue-7: #96a5d0;
$blue-8: #2c4358;
$link: #203f90;
$red: #ea3331;
$red-1: #fbe4e4;
$red-2: #fefafa;

// Border
$radius-normal: 0.4rem;

// Opacity
$bg-hover-opacity: 0.8;

/** Breakpoints */
// Desktop first
$breakpoints: (
  'xxs': (
    max-width: 320px,
  ),
  'xs': (
    max-width: 575px,
  ),
  'sm': (
    max-width: 767px,
  ),
  'md': (
    max-width: 991px,
  ),
  'lg': (
    max-width: 1199px,
  ),
  'xl': (
    max-width: 1599px,
  ),
) !default;

/// Mixin to manage responsive breakpoints
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

.reset-space {
  margin: 0;
  padding: 0;
}
