@import './animation';

$base-font-size: 1.6rem !default;
$base-space: 1.6rem !default;
$min-height-page: 100vh;

// Colors
$green: #0fa54a;
$white: #ffffff;
$black: #000000;
$light-gray: #f5f7f9;
$light-gray-2: #f6f7f8; // Default button background
$google-red: #ec5741;
$onyx: #363b3c;
$black: #0000000b;
$black-o4: rgba($black, 0.4);
$black-o09: rgba($black, 0.09);
$grey-main: #f1f5f8;
$grey: #dddddd;
$black-o85: rgba($black, 0.85);
// Icewall Theme
$primary: #142e71;
$secondary: #edf2f7;
$secondary-text: #718096;
$success: #91c714;
$warning: #fbc500;
$warning-text: #1a202c;
$danger: #d32929;
$dark: #2d3748;
$pale-blue: #e2e8f0; // Input Border color
$pale-blue-o4: rgba($pale-blue, 0.4);
$blue-1: #1c3271;
$blue-2: #2b4286;
$blue-3: #102765;
$blue-4: #071a50;
$blue-5: #9bade4;
$blue-6: #11296d;
$blue-7: #96a5d0;
$link: #203f90;

// Border
$radius-normal: 0.4rem;

// Opacity
$bg-hover-opacity: 0.8;

/** Breakpoints */
// Desktop first
$breakpoints: (
  'xxs': (
    max-width: 320px,
  ),
  'xs': (
    max-width: 575px,
  ),
  'sm': (
    max-width: 767px,
  ),
  'md': (
    max-width: 991px,
  ),
  'lg': (
    max-width: 1199px,
  ),
  'xl': (
    max-width: 1599px,
  ),
) !default;

/// Mixin to manage responsive breakpoints
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

.reset-space {
  margin: 0;
  padding: 0;
}

.titlePage {
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0 2rem 0;
}
.avatarUser_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid $pale-blue;
  .information {
    margin: 0 0 0 2rem;
    .primary-text {
      font-weight: 700;
      @extend .reset-space;
    }
    .secondary-text {
      color: $secondary-text;
      @extend .reset-space;
    }
  }
}
