.login {
  &__container {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.02);
    margin: 0 auto;
    width: 800px;
    height: 500px;
    display: flex;
  }

  &__form {
    flex: 1;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
  }

  &__button {
    height: 54px;
  }

  &__button-with-google {
    border: none;
    // height: 54px !important;
    background-color: #f6f7f8 !important;
    span {
      color: #ec5741;
    }
  }

  &__remember-me {
    display: flex;
    justify-content: space-between;
  }

  &__create-account {
    text-align: center;
    :not(:first-child) {
      margin-left: 3px;
    }
  }

  &__background {
    flex: 1;
    background-image: url('./login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
