@import 'styles/mixins.scss';

.sidebar-right-wrapper {
  height: calc(100% - 9.1rem);
  margin-left: -1.6rem;
  .avatar-user-wrapper {
    box-shadow: 0.4rem 0.4rem 0.8rem -0.4rem rgba($black-2, 0.8);
    padding-bottom: $base-space;
    margin: 0 0 $base-space;
    border-radius: $radius-normal;
    padding-left: $base-space;
    padding-right: $base-space;
  }
  .navigation {
    height: 100%;
  }
}
