@import 'styles/mixins.scss';

.sidebarLeft_wrapper {
  position: relative;
  background-color: transparent;
  width: 27rem !important;
  min-width: 27rem !important;
  max-width: 27rem !important;
  padding: 2rem 3.6rem 2rem 1.6rem;
  border-radius: 2rem 0 0 2rem;
  @include respond-to('md') {
    width: 11rem !important;
    min-width: 11rem !important;
    max-width: 11rem !important;
  }
  @include respond-to('sm') {
    display: none;
  }
  .ant-menu.ant-menu-dark {
    background-color: $blue-4;
  }
  .navigation.ant-menu.ant-menu-dark {
    .ant-menu-inline.ant-menu-sub {
      background-color: $blue-3;
      border-radius: 0.8rem;
    }
    .ant-menu-item-active {
      background-color: $primary;
      border-radius: 0.8rem;
    }
    .ant-menu-submenu-active {
      background-color: $primary;
      border-radius: 0.8rem;
    }
    .ant-menu-submenu-active.ant-menu-submenu-open {
      background-color: transparent;
    }
    .ant-menu-item-selected {
      background-color: $primary;
      border-radius: 0.8rem;
    }

    .ant-menu-item {
      position: relative;
    }
    .ant-menu-item-selected:before {
      content: '';
      width: 20px; // width of the background image
      height: 80px; // height of the background image
      margin-right: -2.4rem;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='80' viewBox='0 0 20 122.1'%3E%3Cpath data-name='Union 1' d='M16.038 122H16v-2.213a95.805 95.805 0 00-2.886-20.735 94.894 94.894 0 00-7.783-20.434A39.039 39.039 0 010 61.051a39.035 39.035 0 015.331-17.567 94.9 94.9 0 007.783-20.435A95.746 95.746 0 0016 2.314V0h4v122h-3.961v.1l-.001-.1z' fill='%23f1f5f8'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: auto;
      margin-bottom: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}
