@import 'styles/mixins.scss';

.mypage {
  .statistic-wrapper {
    @include respond-to('md') {
      margin-bottom: 1.6rem;
    }
  }
  .form-group {
    background-color: $white;
    border-radius: $radius-normal;
    padding: 1.6rem;
    .title {
      font-weight: bold;
      font-size: 1.8rem;
    }
  }
  .userBaicInfo {
    margin: 1.6rem 0;
    .avatarUser_wrapper {
      border: none;
    }
    .group-info {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      .info {
        color: $secondary-text;
        @extend .reset-space;
        &.bold {
          font-weight: bold;
        }
        .anticon {
          margin: 0 1rem 0 0;
        }
      }
    }
  }

  .customGrid {
    margin: 0 0 1.6rem 0;
    .headingGrid {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 1.6rem 0;
      .left-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h3 {
          margin: 0 0 0 1.6rem;
          padding: 0;
          text-transform: capitalize;
          font-weight: bold;
          font-size: 1.6rem;
        }
        .anticon {
          font-size: 3rem;
        }
      }
      .link {
        font-size: 1.4rem;
        @include respond-to('md') {
          display: none;
        }
      }
    }
    .ant-table-wrapper {
      overflow: auto;
      width: 100%;
      background-color: $white;
    }
  }
}
