@import 'styles/mixins.scss';

.layout_main {
  .site-layout {
    background-color: #f0f2f5;
  }
  .ant-layout-content {
    padding: 2.4rem;
  }
}

.content {
  overflow: initial;
}

#root {
  height: 100%;
}
