@import 'styles/mixins.scss';

.main {
    &__layout {
        min-height: $min-height-page !important;
    }
    &__header{
        padding: 0;
    }
    &__content_wrapper{
        margin: 1.4rem 1.4rem 1.4rem 20rem;
    }
    &__content{
        overflow: 'initial';
    }
}