@import 'styles/mixins.scss';

.login {
  &__background {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, 0.02);
    margin: 0 auto;
    width: 80rem;
    height: 50rem;
    display: flex;
  }

  &__form {
    background-color: $white;
    width: 50%;
    padding: 5rem 6.6rem 8.4rem 6.6rem !important;

    @include respond-to('md') {
      width: 100%;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.4rem;
  }

  &__button-with-google {
    border: none;
    background-color: $light-gray-2 !important;
    span {
      color: $google-red;
    }
  }

  &__remember-me {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  &__create-account {
    text-align: center;
    :not(:first-child) {
      margin-left: 0.3rem;
    }
  }

  &__foreground {
    width: 50%;
    background-image: url('/assets/images/login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include respond-to('md') {
      display: none;
    }
  }
}
