@import 'styles/mixins.scss';

.login {
  &__form {
    margin: auto 0 !important;
    padding: 5rem 6.6rem 8.4rem 6.6rem !important;
    width: 48rem;
    margin: 0 auto;

    @include respond-to('xs') {
      padding: 4rem 3rem !important;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 2.4rem;
  }

  &__button-with-google {
    border: none;
    background-color: $light-gray-2 !important;
    span {
      color: $google-red;
    }
  }

  &__remember-me {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  &__create-account {
    text-align: center;
    :not(:first-child) {
      margin-left: 0.3rem;
    }
  }
}
