@import 'styles/mixins.scss';

.statistic {
  position: relative;

  @include transition(all 0.3s ease-in-out);
  .ant-statistic {
    background-color: $white;
    display: flex;
    flex-direction: column-reverse;
    padding: 1.6rem;
    border-radius: $radius-normal;
    position: relative;
  }
  &:before {
    content: '';
    width: 90%;
    background: #f9fafc;
    box-shadow: 0 0.3rem 2rem $black;
    border-radius: $radius-normal;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8rem;
    position: absolute;
    right: 0;
    left: 0;
  }
  .ant-statistic-title {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
    font-size: 1.6rem;
    color: $secondary-text;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .ant-statistic-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    line-height: 0;
    min-height: 7rem;
    .ant-statistic-content-value {
      font-size: 6rem;
      font-weight: 700;
      line-height: 0;
      .ant-statistic-content-value-int {
        line-height: 0;
      }
    }
  }
}
