@import 'styles/mixins.scss';

.tino__table {
  .ant-table-content {
    .ant-checkbox {
      &.ant-checkbox-checked {
        .ant-checkbox-inner {
          border: 1px solid $primary;
          background-color: $primary;
        }
        &:after {
          border: 1px solid $primary;
        }
      }
      &.ant-checkbox-indeterminate {
        .ant-checkbox-inner {
          &:after {
            background-color: $primary;
          }
        }
      }
    }
  }
  .ant-pagination {
    .ant-pagination-item {
      &:hover {
        border: 1px solid $primary;
        a {
          color: $primary;
        }
      }
      &.ant-pagination-item-active {
        border: 1px solid $primary;
        a {
          color: $primary;
        }
      }
    }
    .ant-pagination-item-link {
      &:hover {
        border: 1px solid $primary;
        .anticon {
          color: $primary;
        }
      }
    }
  }
}
