@import 'styles/mixins.scss';

.footer {
  padding: 2.4rem;
  .primary-title {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 0.8rem 0;
  }
  .normail-text {
    font-size: 1.3rem;
    @extend .reset-space;
  }
  .list-policy-link {
    a {
      display: block;
    }
  }
  .list-icon-partner {
    @include respond-to('md') {
      width: 100%;
    }
    .ant-image {
      width: 7.5rem;
      margin: 0 0.6rem 0 0;

      img {
        border-radius: $radius-normal;
      }
    }
  }
}
