@import 'styles/mixins.scss';

.regist-domain-page {
  .status-search-wrapper {
    padding: 0;
    .status {
      height: 15rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      margin: 1.6rem 0;
      .anticon {
        font-size: 3.6rem;
      }
      p {
        @extend .reset-space;
      }
      &.available {
        color: $primary;
      }
      &.unAvailable {
        color: $danger;
      }
    }
  }

  .domain-list {
    background-color: $white;
    border-radius: $radius-normal;
    height: 30rem; // Height = 6rem(hight of item) x item per page (default 5)
    overflow: auto;
    margin: 1.6rem 0;
    padding: 0 1.6rem;
    &::-webkit-scrollbar {
      width: 0.4rem;
      border-radius: 20px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: $primary;
    }
    @include respond-to('sm') {
      height: 33rem;
    }
    .ant-list-items {
      .ant-list-item {
        @include respond-to('sm') {
          height: 7rem;
        }
        .price {
          color: $danger;
        }
        .ant-list-item-action {
          @include respond-to('sm') {
            margin-left: 0;
            width: 100%;
            display: flex;
            flex-direction: revert;
            justify-content: flex-end;
            margin: 1rem 0;
          }
          li {
            @extend .reset-space;
          }
          .tino__button {
            height: 2.8rem;
            &.cart-action {
              padding: 0 0.8rem;
              margin: 0 0 0 1rem;
              .anticon + span {
                margin-left: 0.4rem;
              }
            }
          }
        }
      }
    }
  }
  .domain-price-wrapper {
    margin-top: 1.6rem;
    &.spinning {
      min-height: 18.6rem;
    }
    .domain-price-header {
      font-weight: bold;
      text-align: center;
      margin-bottom: 1.6rem;
    }

    .card-domain-price {
      width: 100%;
      border-radius: $radius-normal;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0.2rem 1rem $black-o4;
      border-radius: $radius-normal;
      cursor: pointer;
      .icon-sale {
        display: none;
      }
      &.sale {
        .icon-sale {
          display: block;
          background: #d32929;
          color: #ffffff;
          position: absolute;
          top: 13%;
          left: -30%;
          width: 100%;
          transform: rotate(-45deg);
          text-align: center;
          font-size: 1rem;
        }
      }
      .ant-card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          @extend .reset-space;
        }
        .name {
          font-size: 2rem;
          font-weight: bold;
          color: $primary;
          margin: 0 0 1rem 0;
        }
      }
    }
  }
}
