@import 'styles/mixins.scss';

.topBar {
  background-color: $white;
  box-shadow: 0 0.8rem 1rem -10px rgba($black, 0.6);
  height: 4.8rem;
  line-height: 4.8rem;
  padding: 0 2.4rem;

  .top-right-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 4.8rem;
    .logo-moile-wrapper {
      display: flex;
      img {
        width: 2.8rem;
      }
    }

    .toggle-sibar-button {
      position: absolute;
      &.mobile {
        left: 3.6rem;
      }
    }
    .breadcrumb {
      margin: 0 0 0 3.2rem;
    }

    .user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      .ant-avatar {
        margin: 0 0 0 3rem;
        cursor: pointer;
      }
      .theRing {
        font-size: 1.6rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.dropdown-menu {
  .information {
    padding: 0.8rem 1.6rem;
    .primary-text {
      font-weight: 700;
      @extend .reset-space;
    }
    .secondary-text {
      @extend .reset-space;
    }
  }
  .ant-menu {
    .ant-menu-item {
      height: 3.2rem;
      line-height: 3.2rem;
    }
  }
  .group-top-menu {
    border-bottom: 1px solid $border;
  }
}
.listNotification {
  background-color: $white;
  box-shadow: 0 0.3rem 1rem $black-o09;
  border-radius: $radius-normal;
  .ant-list-items {
    @extend .reset-space;
    padding: 1.6rem;
    .ant-list-item {
      list-style: none;
      padding: 0.4rem;
      border: none;
      justify-content: start;
      .anticon {
        margin: 0 0.8rem 0 0;
      }
      &:hover {
        cursor: pointer;
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.language-container {
  user-select: none;
  margin: 0 0 0 3rem;
  cursor: pointer;
}

.button__container {
  display: flex;
  align-items: center;

  :not(:first-child) {
    margin-left: 1.5rem;
  }

  a {
    line-height: 1.4rem;
    font-size: 1.4rem;
    font-weight: 600;
  }
}

.mobile__menu {
  &--bar {
    display: none;
    height: 5.4rem;
    align-items: center;
    padding: 0 2rem;

    @include respond-to('sm') {
      display: flex;
      justify-content: space-between;
    }

    .logo {
      width: 10rem;
      cursor: pointer;
    }

    .hamburger {
      transform: rotate(-90deg);
      width: 3.2rem;
      cursor: pointer;
    }
  }

  &--list {
    overflow: hidden;
    @include transition(height 400ms linear !important);
    height: 0;
    background: transparent !important;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;

    &.ant-menu {
      border-top-width: 0.1rem;
    }
    &.ant-menu .ant-menu-item a,
    .ant-menu-submenu-title {
      color: $white;
    }

    .ant-menu-sub {
      background: $blue-3 !important;
      border-radius: 0.6rem !important;
    }
  }

  &--list-active {
    height: fit-content;
    border-top: 1px solid $pale-blue-o1;
  }

  &--language {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    .ant-select {
      width: 11rem;
    }
  }
}

.overlay-dropdown-top {
  top: 5.2rem !important;
  background-color: $white;
  overflow: hidden;
  border-radius: $radius-normal;
  box-shadow: 0.6rem 0.8rem 1rem -1rem rgba($black, 0.6);
  min-width: 16rem;
}
