@import 'styles/mixins.scss';

.topBar {
  background-color: transparent;
  border-bottom: 1px solid $pale-blue-o1;
  padding: 0 2rem;
  @include respond-to('sm') {
    height: auto;
    padding: 0;
  }
  .top-right-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    @include respond-to('sm') {
      border-top: 1px solid $pale-blue-o1;
      padding: 0 2rem;
    }
    .breadcrumb {
      .ant-breadcrumb {
        .ant-breadcrumb-link {
          color: $blue-7;
          &.active {
            font-weight: bold;
          }
        }
        .ant-breadcrumb-separator {
          color: $blue-7;
        }
        > span:last-child {
          font-weight: bold;
        }
      }
    }
    .user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      .ant-avatar {
        margin: 0 0 0 3rem;
        &:hover {
          @include transition-timing-function(cubic-bezier(0.4, 0, 0.2, 1));
          @include transition-duration(0.3s);
          -webkit-transform: scale(0.95);
          -ms-transform: scale(0.95);
          transform: scale(0.95);
          cursor: pointer;
        }
      }
      .theRing {
        color: $blue-7;
        font-size: 1.8rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.dropdown-menu {
  color: $white;
  background-color: $blue-6;
  border-radius: $radius-normal;
  .information {
    padding: 1rem 2rem;
    .primary-text {
      font-weight: 700;
      @extend .reset-space;
    }
    .secondary-text {
      color: $blue-5;
      @extend .reset-space;
    }
  }
  .ant-menu {
    background-color: $blue-6;
    border: none;
    padding: 1rem;
    .ant-menu-item {
      padding: 0 1rem;
      margin: 0;
      height: 3.6rem;
      border-radius: $radius-normal;
      display: flex;
      align-items: center;
      &.ant-menu-item-active,
      &.ant-menu-item-selected {
        background-color: $blue-4;
      }
      a,
      .anticon {
        color: $white;
      }
    }

    &:last-child {
      border-top: 1px solid $pale-blue-o1;
      padding: 1rem;
    }
  }
}
.listNotification {
  background-color: $white;
  box-shadow: 0 3px 10px $black-o09;
  border-radius: $radius-normal;
  .ant-list-items {
    @extend .reset-space;
    padding: 2rem;
    .ant-list-item {
      list-style: none;
      padding: 0.5rem;
      border: none;
      justify-content: start;
      .anticon {
        margin: 0 1rem 0 0;
      }
      &:hover {
        cursor: pointer;
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.language__container {
  margin-right: 3rem;

  .ant-select {
    width: 11rem;
  }

  .ant-select-selector {
    background-color: transparent !important;
    color: $blue-7;
    border-color: $blue-7 !important;
  }

  .ant-select-arrow {
    color: $blue-7;
  }
}

.button__container {
  display: flex;
  align-items: center;

  :not(:first-child) {
    margin-left: 3rem;
  }

  a {
    line-height: 1.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: $white;
  }
}

.mobile__menu {
  &--bar {
    display: none;
    height: 5.4rem;
    align-items: center;
    padding: 0 2rem;

    @include respond-to('sm') {
      display: flex;
      justify-content: space-between;
    }

    .logo {
      width: 10rem;
      cursor: pointer;
    }

    .hamburger {
      transform: rotate(-90deg);
      width: 3.2rem;
      cursor: pointer;
    }
  }

  &--list {
    overflow: hidden;
    @include transition(height 400ms linear !important);
    height: 0;
    background: transparent !important;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;

    &.ant-menu {
      border-top-width: 0.1rem;
    }
    &.ant-menu .ant-menu-item a,
    .ant-menu-submenu-title {
      color: $white;
    }

    .ant-menu-sub {
      background: $blue-3 !important;
      border-radius: 0.6rem !important;
    }
  }

  &--list-active {
    height: fit-content;
    border-top: 1px solid $pale-blue-o1;
  }
}
