@import 'styles/mixins.scss';

.mypage {
  .statistic-wrapper {
    @include respond-to('md') {
      margin-bottom: 1.6rem;
    }
  }
}
.customGrid{
  .headingGrid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3.2rem 0 1.6rem 0;
    .left-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h3 {
            margin: 0 0 0 1.6rem;
            padding: 0;
            text-transform: capitalize;
            font-weight: bold;
            font-size: 1.6rem;
        }
    }
    .link{
      color: $link;
      @include respond-to('md') {
        display: none;
      }
    }
  }
  .ant-table-wrapper{
    overflow: auto;
    width: 100%;
    background-color: $white;
  }
}

