@import 'styles/mixins.scss';

.notfound {
  &.ant-result-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  .ant-result-extra {
    margin-top: 2rem;
  }
}
