@import 'styles/mixins.scss';

.notFoundPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__img {
    margin-right: 8rem;
    // max-height: 19.2rem;

    .error-img {
      width: 45rem;
      height: auto;
    }
  }

  &__content {
    font-weight: 500;
    color: $white;
  }

  &__title {
    font-size: 9.6rem;
    line-height: 1;
    margin-bottom: 2rem;
  }

  &__desc {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 1.2rem;
  }

  &__note {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 4rem;
  }
}
